<h3 ng-transclude></h3>
<div ng-if="user1Active">
    <input type="text" ng-model="$parent.user1Details" ng-change="$parent.isStored = false">
    <button class="store-button btn-default" ng-click="storeDetails()" ng-disabled="($parent.user1Details === '' || $parent.user1Details === undefined)">STORE DETAILS</button>
    <p class="is-stored" ng-show="$parent.isStored">Details stored..</p>
</div>

<div class="user2-details-container" ng-if="user2Active">
    <strong>User 1 stored details:</strong>
    <ul>
        <li ng-repeat="entry in retrievedDetails track by $index">
            <span ng-class="{'is-deleted' : (isDeleted[$index] && user3Active)}">{{entry}}</span>
            <button ng-if="user3Active" ng-click="deleteDetails($index)" class="delete-button btn-default">DELETE DETAILS</button>
        </li>
    </ul>
    <p class="storage-empty-text" ng-if="retrievedDetails.length === 0">No stored data exists !</p>
</div>