.login-form {
    margin: 0 auto;
    width: 252px;
    box-shadow: 0px 0px 5px 1px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 150px;
    font-size: 18px;

    input {
        text-align: center;
    }
}

.bold-red {
    font-weight: bold;
    color: red;
    font-size: 13px;
    text-shadow: 0px 1px 1px white;
}

body {
    background: linear-gradient(272deg, #727272, #ffffff, #727272);
    background-size: 600% 600%;
    
    -webkit-animation: dream 43s ease infinite;
    -moz-animation: dream 43s ease infinite;
    animation: dream 43s ease infinite;
    
    @-webkit-keyframes dream {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-moz-keyframes dream {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes dream { 
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
}